In [68]:
import pymongo as p 
dburl='mongodb://localhost:27017'

In [69]:
myMongo=p.MongoClient(dburl)
print("koneksi berhasil")

koneksi berhasil

In [71]:
dbs = myMongo.list_database_names()

In [39]:
myDB = myMongo['Kampus']

In [72]:
#create database
print(dbs)

['HRD', 'Kampus', 'Penjualan', 'admin', 'config', 'local', 'restoran', 'user']

In [43]:
myMongo.Kampus.add_user("andi","anditopsecret",roles=[{
    "role":"userAdmin","db":"Kampus",
}])

/Users/risyad/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: DeprecationWarning: add_user is deprecated and will be removed in PyMongo 4.0. Use db.command with createUser or updateUser instead

In [52]:
myMongo.Kampus.add_user("budi","buditopsecret",roles=[{
    "role":"readWrite","db":"Kampus",
}])

/Users/risyad/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: DeprecationWarning: add_user is deprecated and will be removed in PyMongo 4.0. Use db.command with createUser or updateUser instead

In [53]:
#Masukkan 3 buah data berikut ke collection "Dosen":
myCol=myDB['Dosen']

In [55]:
data1=[
    {'nama':"Caca",
'usia':28,
'asal':"Jakarta",
'bidang':"Fisika Astrologi",
'titel':"S2",
'status':"Honorer",
'nip':123,
'matkul':["Metrologi","Kosmologi","Kalkulus"]},

{'nama':"Dedi",
'usia':29,
'asal':"Yogyakarta",
'bidang':"Fisika Terapan",
'titel':"S3",
'status':"PNS",
'nip':456,
'matkul':["Instrumentasi","Elektronika","Fisika Dasar"]},

{'nama':"Euis",
'usia':30,
'asal':"Bandung",
'bidang':"Fisika Teoretik",
'titel':"S1",
'status':"Honorer",
'nip':789,
'matkul':["Fisika Dasar","Fisika Modern","Kalkulus"]}
]

myCol.insert_many(data1)
print("data dosen berhasil dimasukkan")

data dosen berhasil dimasukkan

In [56]:
for i in myCol.find():
    print(i)

{'_id': ObjectId('5f6326284f56429c722c0fa9'), 'nama': 'Caca', 'usia': 28, 'asal': 'Jakarta', 'bidang': 'Fisika Astrologi', 'titel': 'S2', 'status': 'Honorer', 'nip': 123, 'matkul': ['Metrologi', 'Kosmologi', 'Kalkulus']}
{'_id': ObjectId('5f6326284f56429c722c0faa'), 'nama': 'Dedi', 'usia': 29, 'asal': 'Yogyakarta', 'bidang': 'Fisika Terapan', 'titel': 'S3', 'status': 'PNS', 'nip': 456, 'matkul': ['Instrumentasi', 'Elektronika', 'Fisika Dasar']}
{'_id': ObjectId('5f6326284f56429c722c0fab'), 'nama': 'Euis', 'usia': 30, 'asal': 'Bandung', 'bidang': 'Fisika Teoretik', 'titel': 'S1', 'status': 'Honorer', 'nip': 789, 'matkul': ['Fisika Dasar', 'Fisika Modern', 'Kalkulus']}

In [57]:
#Masukkan 4 buah data berikut ke collection "Mahasiswa":
myCol2=myDB['Mahasiswa']

In [58]:
data2=[
    {'nama':"Faza",
'usia':19,
'asal':"Aceh",
'prodi':"Fisika",
'angkatan':2017,
'nim':123},

{'nama':"Gilang",
'usia':20,
'asal':"Semarang",
'prodi':"Fisika",
'angkatan':2017,
'nim':456},

{'nama':"Hanafi",
'usia':20,
'asal':"Makassar",
'prodi':"Fisika",
'angkatan':2017,
'nim':789},

{'nama':"Dini",
'usia':20,
'asal':"Bekasi",
'prodi':"Fisika",
'angkatan':2017,
'nim':'004'}
]
myCol2.insert_many(data2)
print("data mahasiswa berhasil dimasukkan")

data mahasiswa berhasil dimasukkan

In [59]:
for y in myCol2.find():
    print(y)

{'_id': ObjectId('5f6326f74f56429c722c0fac'), 'nama': 'Faza', 'usia': 19, 'asal': 'Aceh', 'prodi': 'Fisika', 'angkatan': 2017, 'nim': 123}
{'_id': ObjectId('5f6326f74f56429c722c0fad'), 'nama': 'Gilang', 'usia': 20, 'asal': 'Semarang', 'prodi': 'Fisika', 'angkatan': 2017, 'nim': 456}
{'_id': ObjectId('5f6326f74f56429c722c0fae'), 'nama': 'Hanafi', 'usia': 20, 'asal': 'Makassar', 'prodi': 'Fisika', 'angkatan': 2017, 'nim': 789}
{'_id': ObjectId('5f6326f74f56429c722c0faf'), 'nama': 'Dini', 'usia': 20, 'asal': 'Bekasi', 'prodi': 'Fisika', 'angkatan': 2017, 'nim': '004'}

In [74]:
## Kemudian Hapus Nama Faza Dari Collection Mahasiswa
kondisi3={"nama":"Faza"}
myCol2.delete_one(kondisi3)

for y in myCol2.find():
    print(y)

{'_id': ObjectId('5f6326f74f56429c722c0fad'), 'nama': 'Gilang', 'usia': 20, 'asal': 'Semarang', 'prodi': 'Fisika', 'angkatan': 2017, 'nim': 456}
{'_id': ObjectId('5f6326f74f56429c722c0fae'), 'nama': 'Hanafi', 'usia': 20, 'asal': 'Makassar', 'prodi': 'Fisika', 'angkatan': 2017, 'nim': 789}
{'_id': ObjectId('5f6326f74f56429c722c0faf'), 'nama': 'Dini', 'usia': 20, 'asal': 'Bekasi', 'prodi': 'Fisika', 'angkatan': 2017, 'nim': '004'}

In [61]:
#Tambahkan data Dodi ke dalam Collection Dosen berikut rincian data Dodi
myCol.insert_one({'nama':"Dodi",
'usia':27,
'asal':"Surabaya",
'bidang':"Computer Science",
'titel':"S2",
'status':"PNS",
'nip':998,
'matkul':["Data Analysis","AI","NLP"]})

In [62]:
for i in myCol.find():
    print(i)

{'_id': ObjectId('5f6326284f56429c722c0fa9'), 'nama': 'Caca', 'usia': 28, 'asal': 'Jakarta', 'bidang': 'Fisika Astrologi', 'titel': 'S2', 'status': 'Honorer', 'nip': 123, 'matkul': ['Metrologi', 'Kosmologi', 'Kalkulus']}
{'_id': ObjectId('5f6326284f56429c722c0faa'), 'nama': 'Dedi', 'usia': 29, 'asal': 'Yogyakarta', 'bidang': 'Fisika Terapan', 'titel': 'S3', 'status': 'PNS', 'nip': 456, 'matkul': ['Instrumentasi', 'Elektronika', 'Fisika Dasar']}
{'_id': ObjectId('5f6326284f56429c722c0fab'), 'nama': 'Euis', 'usia': 30, 'asal': 'Bandung', 'bidang': 'Fisika Teoretik', 'titel': 'S1', 'status': 'Honorer', 'nip': 789, 'matkul': ['Fisika Dasar', 'Fisika Modern', 'Kalkulus']}
{'_id': ObjectId('5f6327af4f56429c722c0fb0'), 'nama': 'Dodi', 'usia': 27, 'asal': 'Surabaya', 'bidang': 'Computer Science', 'titel': 'S2', 'status': 'PNS', 'nip': 998, 'matkul': ['Data Analysis', 'AI', 'NLP']}

In [73]:
print(dbs)

['HRD', 'Kampus', 'Penjualan', 'admin', 'config', 'local', 'restoran', 'user']

In [75]:
### Ubah Nama Hanafi menjadi Ahmad Hanafi dan Usia nya menjadi 22 (Mahasiswa)
Data={"nama":"Hanafi"}
new_val={"$set":{"nama":"Ahmad Hanafi","usia":22}}
myCol2.update_one(Data,new_val)
print("data updated")

for i in myCol2.find():
    print(i)

data updated
{'_id': ObjectId('5f6326f74f56429c722c0fad'), 'nama': 'Gilang', 'usia': 20, 'asal': 'Semarang', 'prodi': 'Fisika', 'angkatan': 2017, 'nim': 456}
{'_id': ObjectId('5f6326f74f56429c722c0fae'), 'nama': 'Ahmad Hanafi', 'usia': 22, 'asal': 'Makassar', 'prodi': 'Fisika', 'angkatan': 2017, 'nim': 789}
{'_id': ObjectId('5f6326f74f56429c722c0faf'), 'nama': 'Dini', 'usia': 20, 'asal': 'Bekasi', 'prodi': 'Fisika', 'angkatan': 2017, 'nim': '004'}

In [76]:
###Ubah semua Prodi Mahasiswa yang berusia 20 menjadi Matematika (Mahasiswa)
Data={"usia":20}
new_vals={'$set':{"prodi":"Matematika"}}
myCol2.update_many(Data,new_vals)
print("data updated")

for i in myCol2.find():
    print(i)

data updated
{'_id': ObjectId('5f6326f74f56429c722c0fad'), 'nama': 'Gilang', 'usia': 20, 'asal': 'Semarang', 'prodi': 'Matematika', 'angkatan': 2017, 'nim': 456}
{'_id': ObjectId('5f6326f74f56429c722c0fae'), 'nama': 'Ahmad Hanafi', 'usia': 22, 'asal': 'Makassar', 'prodi': 'Fisika', 'angkatan': 2017, 'nim': 789}
{'_id': ObjectId('5f6326f74f56429c722c0faf'), 'nama': 'Dini', 'usia': 20, 'asal': 'Bekasi', 'prodi': 'Matematika', 'angkatan': 2017, 'nim': '004'}

In [77]:
#Ubah field asal menjadi Kota_asal (Mahasiswa)
Data={}
new_val1={'$rename':{"asal":"Kota_asal"}}

myCol2.update_many(Data,new_val1)
print("data updated")

for i in myCol2.find():
    print(i)

data updated
{'_id': ObjectId('5f6326f74f56429c722c0fad'), 'nama': 'Gilang', 'usia': 20, 'prodi': 'Matematika', 'angkatan': 2017, 'nim': 456, 'Kota_asal': 'Semarang'}
{'_id': ObjectId('5f6326f74f56429c722c0fae'), 'nama': 'Ahmad Hanafi', 'usia': 22, 'prodi': 'Fisika', 'angkatan': 2017, 'nim': 789, 'Kota_asal': 'Makassar'}
{'_id': ObjectId('5f6326f74f56429c722c0faf'), 'nama': 'Dini', 'usia': 20, 'prodi': 'Matematika', 'angkatan': 2017, 'nim': '004', 'Kota_asal': 'Bekasi'}

In [97]:
print(myCol2.find())

<pymongo.cursor.Cursor object at 0x10cbdc940>

# BUAT MENU CRUD
### still failed

In [126]:
def main():

    while(1):
    # chossing option to do CRUD operations
        selection = raw_input('\nSelect 1 to insert, 2 to update, 3 to read, 4 to delete\n')
    
        if selection == '1':
            insert()
        elif selection == '2':
            update()
        elif selection == '3':
            read()
        elif selection == '4':
            delete()
        else:
            print ('\n INVALID SELECTION \n')
            
def insert():
    try:
        nama = input('masukkan nama mahasiswa :')
        usia = input('masukkan usia mahasiswa :')
        prodi = input('masukkan nama prodi :')
        angkatan = input('masukkan angkatan mahasiswa :')
        nim = input('masukkan nim mahasiswa :')
        Kota_asal = input('masukkan kota asal mahasiswa :')
    
    except ValueError:
        print ("wrong input")
new_datas = {
    "nama":nama,
    "usia":usia,
    "prodi":prodi,
    "angkatan":angkatan,
    "nim":nim,
    "Kota_asal":Kota_asal
}
x=myCol2.insert_one(new_datas)
print("data submitted, with id ", x.inserted_id)

def insert():
    try:
        nama = input('masukkan nama mahasiswa :')
        usia = input('masukkan usia mahasiswa :')
        prodi = input('masukkan nama prodi :')
        angkatan = input('masukkan angkatan mahasiswa :')
        nim = input('masukkan nim mahasiswa :')
        Kota_asal = input('masukkan kota asal mahasiswa :')
        
        dbs.myCol2.insert_one(
            {
                "nama": nama,
                "usia":usia,
                "prodi":prodi,
                "angkatan":angkatan,
                "nim":nim,
                "Kota_asal":Kota_asal              
        })
        print ('\nInserted data successfully\n')
    
    except ValueError:
        print ("wrong input")

def read():
    try:
        studCol = dbs.myCol2.find()
        print ('\n All data from EmployeeData Database \n')
        for emp in studCol:
            print (emp)

    except ValueError:
        print ("wrong input")

def update():
    try:
        nama_mhs = input('\nmasukkan nama untuk update\n')
        usia = input('\nmasukkan usia untuk update\n')
        prodi = input('\nmasukkan usia untuk update\n')
        angkatan = input('\nmasukkan angkatan untuk update\n')
        nim = input('\nmasukkan NIM untuk update\n')
        Kota_asal = input('\nmasukkan kota asal untuk update\n')
        
        dbs.myCol2.update_one(
            {"nama": nama_mhs},
            {
                "$set": {
                    "usia":usia,
                    "prodi":prodi,
                    "angkatan":angkatan,
                    "nim":nim,
                    "Kota_asal":Kota_asal
                }
            }
        )
        print ("\nRecords updated successfully\n"   ) 
 
    except ValueError:
        print ("wrong input")
        
def delete():
    try:
        nama_mhs = input('\nmasukan nama untuk delete\n')
        dbs.myCol2.delete_many({"nama":nama_mhs})
        print ('\nDeletion successful\n' )
    except ValueError:
        print ("wrong input")

data submitted, with id  5f6369ae4f56429c722c0fb5

In [127]:
for i in myCol2.find():
    print(i)

{'_id': ObjectId('5f6326f74f56429c722c0fad'), 'nama': 'Gilang', 'usia': 20, 'prodi': 'Matematika', 'angkatan': 2017, 'nim': 456, 'Kota_asal': 'Semarang'}
{'_id': ObjectId('5f6326f74f56429c722c0fae'), 'nama': 'Ahmad Hanafi', 'usia': 22, 'prodi': 'Fisika', 'angkatan': 2017, 'nim': 789, 'Kota_asal': 'Makassar'}
{'_id': ObjectId('5f6326f74f56429c722c0faf'), 'nama': 'Dini', 'usia': 20, 'prodi': 'Matematika', 'angkatan': 2017, 'nim': '004', 'Kota_asal': 'Bekasi'}
{'_id': ObjectId('5f63697f4f56429c722c0fb4'), 'nama': 'd', 'usia': 'd', 'prodi': 'd', 'angkatan': 'd', 'nim': 'd', 'Kota_asal': 'd'}
{'_id': ObjectId('5f6369ae4f56429c722c0fb5'), 'nama': 'd', 'usia': 'd', 'prodi': 'd', 'angkatan': 'd', 'nim': 'd', 'Kota_asal': 'd'}